@model GraniteHouse.Models.ProductTypes

@{
    ViewData["Title"] = "Details";
}

<br />
<br />
<br />

<h2 class="text-info">Product Type Details</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>